<div>
  <h1>Repositories</h1>

  <div class="content"
       fxLayout="row"
       fxLayout.xs="column">
    <div fxFlex="30" class="sec1">
      <mat-form-field class="example-full-width" style="width: 100%">
        <input [formControl]="filterCtrl" matInput placeholder="Type repository name">
      </mat-form-field>
    </div>
    <div fxFlex="20" fxFlexOffset="20px" class="sec2" >
      <mat-select placeholder="Sorting" [formControl]="sortingCtrl">
        <mat-option *ngFor="let sort of sorting" [value]="sort">
          {{sortNames[sort]}}
        </mat-option>
      </mat-select>
    </div>
  </div>


  <div *ngIf="(reposFiltered | async) as repos">
    <div class="repos-list" *ngFor="let repo of repos">
      <h3><a class="mat-accent" [routerLink]="['/repos', repo.id]" >{{repo.name}}</a></h3>
      <p>{{repo.description}}</p>
      <p class="mat-caption">{{repo.updated_at | date}}</p>
      <mat-divider></mat-divider>
    </div>

    <p *ngIf="repos?.length === 0 && filterCtrl.value">
      There are no repositories related to your query
    </p>
  </div>
</div>
