<div *ngIf="repo$ | async as repo">
  <h1>{{repo.name}}</h1>
  <p *ngIf="!repo.description && !editDescriptionMode">
    <button mat-stroked-button (click)="editDescription()">Add Description</button>
  </p>
  <p *ngIf="!editDescriptionMode"
     (click)="editDescription()">
    {{repo.description}}
  </p>
  <p>
    <mat-error *ngIf="unsavedVersion">You have unsaved description.</mat-error>
  </p>
  <p *ngIf="editDescriptionMode">
    <app-edit-text (save)="save($event, repo)"
                   (cancel)="closeEditMode()"
                   [repoId]="repo.id"
                   [text]="unsavedVersion || repo.description"></app-edit-text>
  </p>
  <p>
    <mat-error *ngIf="showError">There are a problem occurs wile saving.</mat-error>
  </p>
  <p>
    <a [href]="getArchiveLink(repo)">Download Zip</a>
  </p>

  <a mat-stroked-button [routerLink]="['/repos']">Back: Repositories</a>
</div>
