<div *ngIf="repo$ | async as repo">
  <div class="repo-header" fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex="70"><h1>{{repo.name}}</h1></div>
    <div fxFlex="30" class="repo-download" ngClass.gt-xs="text-right">
      <a mat-button [href]="getArchiveLink(repo)">Download Zip <fa name="download"></fa></a>
    </div>
  </div>

  <div class="mb-20">
    <mat-divider></mat-divider>
  </div>

  <p *ngIf="!repo.description && !editDescriptionMode">
    <button mat-stroked-button (click)="editDescription()">Add Description</button>
  </p>
  <p *ngIf="!editDescriptionMode"
     matTooltip="Click to edit description"
     (click)="editDescription()">
    {{repo.description}}
  </p>
  <p>
    <mat-error *ngIf="unsavedVersion">You have unsaved description.</mat-error>
  </p>
  <p *ngIf="editDescriptionMode">
    <app-edit-text (save)="save($event, repo)"
                   (cancel)="closeEditMode()"
                   [repoId]="repo.id"
                   [text]="unsavedVersion || repo.description"></app-edit-text>
  </p>
  <p>
    <mat-error *ngIf="showError">There are a problem occurs wile saving.</mat-error>
  </p>

  <mat-card *ngIf="readme$ | async as readme">
    <h1>README</h1>
    {{decode(readme.content)}}
  </mat-card>
  <br>

  <div class="mb-20">
    <mat-divider></mat-divider>
  </div>
  <a mat-stroked-button [routerLink]="['/repos']">Back: Repositories</a>

</div>
